<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2 style="align-text:center;">Hi <b style="text-transform:uppercase;">{{user.first_name}}</b></h2>
    <hr>
    <br>
    The XC Currency is happy to see you here.
    click on the button below to activate your account.
    <br>
    <br>
    <button style="background-color:black; color:#fff; width:100px; height:50px;">
        <a style="color:#fff; text-decoration:none;" href="http://{{ domain }}{% url 'activate' token=token %}">Activate</a>
    </button>
</body>

</body>
</html>